body{
	background-color : #dceffe;
}
#mid-block{
	background-color : white;
	position : relative;
	left : 10%;
	width : 80%;
	height : 100%;
}
#new-button{
	position : relative;
	left : 10%;
}
.every-title{
	position : relative;
	left : 10%;
	font-size : 24;
	margin-bottom : 0;
}
#username{
	position : relative;
	right : 10%;
}