
#head{
	height: 96px;
	background: rgb(20,200,120);
}
#content{
	height: 360px;
	background: rgb(226,125,134);
	padding: 80px 0;
}
#tail{
	height: 64px;
}
#head_left{
	/*float使块级元素同行*/
	float: left;
	/*用比例做宽度单位*/
	width: 90%;
	padding: 60px 0 0 20px;
}
#head_right_img{
	width: 64px;
	height: 64px;
	background: pink;
	margin: 16px 0;
}
.title_text{
	display: block;
	float: left;
	width: 80px;
	height: 36px;
	line-height: 36px;
	font-family: 微软雅黑;
	text-decoration:none;
	text-align: center;
	color: white;
}
a.title_text:hover{
	background:rgb(20,160,120);
}

/*内容部分*/
#content_center{
	height: 280px;
	width: 400px;
	background: green;
	margin: 0 auto;
	padding-top: 80px;
	border-radius: 10px;
	font-size: 12px;
}
#content_center input{
	display: block;
	width: 75%;
	height: 2em;
	margin: 8px auto;
	padding: 16px,5px;
}