<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="Organization">

    <!-- 模板 慎用 会导致没有where 项时 查出全部数据，要用的话要在业务逻辑中增加查询验证标准-->
    <select id="select" parameterType="OrganizationPojo" resultType="OrganizationPojo">
        select id,code,name,description,pcode,sort from organization
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id !='' and id !=null">
                and `id` = #{id}
            </if>

            <if test="code !='' and code !=null">
                and `code` = #{code}
            </if>

            <if test="name !='' and name !=null">
                and `name` = #{name}
            </if>

            <if test="description !='' and description !=null">
                and `description` = #{description}
            </if>

            <if test="pcode !='' and pcode !=null">
                and `pcode` = #{pcode}
            </if>

            <if test="sort !='' and sort !=null">
                and `sort` = #{sort}
            </if>

            <if test="disable !='' and disable !=null">
                and `disable` = #{disable}
            </if>
        </trim>
    </select>

    <select id="selectById" parameterType="java.util.HashMap" resultType="OrganizationPojo">
        select id,code,name,description,pcode,sort from organization where id=#{id}
    </select>

    <select id="selectMaxSort" parameterType="java.util.HashMap" resultType="java.lang.String">
        select max(sort) from organization WHERE pcode = #{pcode} and disable = "0";
    </select>

    <select id="selectByIds" parameterType="java.util.List" resultType="OrganizationPojo">
        select id,code,name,description,pcode,sort from organization
        where disable = "0" and id in
        <foreach item="idItem" collection="list" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </select>

    <select id="selectByCode" parameterType="java.util.HashMap" resultType="OrganizationPojo">
        select id,code,name,description,pcode,sort from organization
        where code=#{code} AND disable="0"
    </select>

    <select id="selectByCodes" parameterType="java.util.HashMap" resultType="OrganizationPojo">
        select id,code,name,description,pcode,sort from organization
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="list !=null">
                and `code` in
                <foreach item="idItem" collection="list" open="(" separator="," close=")">
                    #{idItem}
                </foreach>
            </if>
        </trim>
    </select>

    <select id="selectAllCode" parameterType="java.util.HashMap" resultType="java.lang.String">
        select code from organization where disable="0"
    </select>

    <select id="exist" parameterType="java.util.HashMap" resultType="java.lang.String">
        select 1 from organization WHERE code=#{code} limit 1
    </select>


    <insert id="insert" parameterType="OrganizationPojo">
        INSERT INTO organization
        (id,code,name,description,pcode,sort)
        VALUES
        (#{id},#{code},#{name},#{description},#{pcode},#{sort})
    </insert>

    <update id="updateById" parameterType="OrganizationPojo">
        update organization
        <trim prefix="SET" suffixOverrides=",">
            <if test="id !='' and id !=null">
                `id` = #{id},
            </if>
            <if test="code !='' and code !=null">
                `code` = #{code},
            </if>
            <if test="name !='' and name !=null">
                `name` = #{name},
            </if>
            <if test="description !='' and description !=null">
                `description` = #{description},
            </if>
            <if test="pcode !='' and pcode !=null">
                `pcode` = #{pcode},
            </if>
            <if test="sort !='' and sort !=null">
                `sort` = #{sort},
            </if>
        </trim>
        where id=#{id}
    </update>

    <delete id="deleteById" parameterType="java.util.HashMap">
        DELETE FROM organization where id=#{id}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM organization where id in
        <foreach item="idItem" collection="list" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>

    <!--此处的关联删除为删除该组织下的子组织-->
    <update id="deleteRelation" parameterType="java.util.HashMap">
        update organization set disable = 1
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="pcode !='' and pcode !=null">
                and `pcode` = #{pcode}
            </if>
        </trim>
    </update>

    <!--依据id更新排序值-->
    <update id="updateSortById" parameterType="java.util.HashMap">
        update organization set sort = #{sort}
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id !='' and id !=null">
                `id` = #{id}
            </if>
        </trim>
    </update>

    <!--依据id更新父组织码-->
    <update id="updatePcodeByIdList" parameterType="java.util.HashMap">
        update organization set pcode = #{pcode}
        where id in
        <foreach item="idItem" collection="list" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </update>

</mapper>